<h1><%= @project.name %></h1>

<p><%= @project.description %></p>

<p><strong><%= t(".owner") %>:</strong> <%= @project.owner.email %></p>

<%= link_to t(".tasks"), project_tasks_path(@project) %> |
<%= link_to t(".edit"), edit_project_path(@project) %> |
<%= link_to t(".back"), projects_path %> |
<%= link_to t(".delete"), @project, data: { turbo_method: :delete, turbo_confirm: t(".confirm_delete") } %>
